
  .container{
      position: absolute;
      top:20%;
      left:45%
  }  
  
  .user-name{
      margin-top: 20px;
      margin-left: 16px;
  }

  .avatar {
    margin-top: 16px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .user-details{
      display: flex;
  }
  .calendar-wrapper{
    display: table-caption;
  }
  .end-time-button{
      margin-top: 10px;
  }
  .book-button{
      margin-top: 20px;
  }
  .input-field{
      width: 21%;
  }